
<div class="container d-flex">

        <div class="row col-12 p-4">

			<div class="d-flex justify-content-between">

                <!----formulario ---->
                <div class="col-md-4 d-flex align-items-start flex-column m-2" >


                    <h3>
                        Nueva Reserva
                    </h3>




                    <mat-form-field appearance="fill" class="col-12">
                        <mat-label>Restaurante</mat-label>
                        <mat-select
                            [(ngModel)]="idRestaurante"
                            (ngModelChange) = "loadPisos()"
                        >
							<mat-option *ngFor = "let restaurante of restaurantes" [value]="restaurante.id">
									{{ restaurante.id}} - {{ restaurante.nombre }}
							</mat-option>
                        </mat-select>
                    </mat-form-field>




                    <!----


                    <mat-form-field appearance="fill" class="col-12">
                        <mat-label>Piso</mat-label>
                        <mat-select [(ngModel)]="piso">
                             <mat-option *ngFor = "let piso of pisos" [value]="piso">
                                {{ piso }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    ---->




                    <div class=" d-flex align-items-center flex-row col-12">

                        <mat-form-field appearance="fill" class="col-6">
                            <mat-label>Desde</mat-label>
                            <mat-select [(ngModel)]="horaInicio">
                                <mat-option *ngFor = "let horaInicio of listHoraInicio" [value]="horaInicio">
                                    {{ horaInicio }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="col-6">
                            <mat-label>Hasta</mat-label>
                            <mat-select [(ngModel)]="horaFin">
                                <mat-option *ngFor = "let horaFin of listHoraFin" [value]="horaFin">
                                    {{ horaFin }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                    </div>


                    <mat-form-field appearance="fill" class="col-12">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha" [min]="minDate" placeholder="mm/dd/aaaa">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>


                    <div class="col-12 d-flex justify-content-around">
                        <button type="button" class="btn btn-primary btn-sm"
                                (click)="buscar()">Buscar
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"
                                (click)="atras()"> Atras
                        </button>
                    </div>

                </div>

                <!---listado de mesas libres --->
				<div class="col-md-8 m-2">

                    <h3>
                        Mesas Libres
                    </h3> 

                    <table mat-table [dataSource]="mesas" class="col-md-11 mat-elevation-z1">

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="nombre-mesa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre mesa </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>
                
                    
                        <ng-container matColumnDef="restaurante">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Restaurante </th>
                            <td mat-cell *matCellDef="let element"> {{element.RestauranteId}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="x">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> X </th>
                            <td mat-cell *matCellDef="let element"> {{element.x}} </td>
                        </ng-container> 
                        
                        <ng-container matColumnDef="y">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Y </th>
                            <td mat-cell *matCellDef="let element"> {{element.y}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="planta">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Planta </th>
                            <td mat-cell *matCellDef="let element"> {{element.planta}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn btn-success btn-sm mx-2" (click)="reservar(element.id, element.RestauranteId)">Reservar</button>   
                            </td>
                
                        </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    </table>
                </div>
			</div>
        </div>


</div>

