
    <div class="sidenav container-fluid" >
       
        <mat-list>

            
            <mat-list-item routerLink="/clientes">
                <button mat-flat-button class="p-0">
                    <mat-icon>face</mat-icon>
                    &nbsp; Clientes
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item routerLink="/restaurantes">
                <button mat-flat-button class="p-0">
                    <mat-icon>restaurant</mat-icon>
                    &nbsp; Restaurantes
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item routerLink="/mesas">
                <button mat-flat-button class="p-0">
                    <mat-icon>check_box_outline_blank</mat-icon>
                    &nbsp; Mesas
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item routerLink="#">
                <button mat-flat-button class="p-0">
                    <mat-icon>event</mat-icon>
                    &nbsp; Reservas
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>


        </mat-list>

    </div>
    
